body {
    background-color:snow;
}

h1 {
    text-align: center;
    color: black;
    font-family: "나눔고딕";
}

.snow {
    background-color: snow;
}

.whitesmoke {
    background-color: whitesmoke;
}

.white {
    background-color: white;
}

.seashell {
    background-color: seashell;
}

.ivory {
    background-color: ivory;
}

.ghostwhite {
    background-color: ghostwhite;
}